<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Assistant:400,700" rel="stylesheet"> -->
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>

    <section class='login' id='login'>
        <h1 class='l'> ReadNTrade </h1>
        <div class="form-container">
            

            <p class='welcome'>Hi There!!</p>

            <form id="loginForm">
                <input type="text" placeholder='Email' class='text' name='email' required><br>
                <input type="password" name="password" placeholder='••••••••••••••' class='password'><br>
                <button type="submit" class="submit">Log in</button>

            </form>
            <form id="signupForm">
                <a href="/signup" class='forgot'> Signup </a>
            </form>
        </div>
        

    </section>


    <footer>
        <p id="foot"><span class='heart'>&rightarrowtail;</span>R34DNTR4D3_T34M</p>
    </footer>

    <script src="./app.js"></script>

</body>

</html>