<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Report System</title>
    <link rel="stylesheet" href="/user_reportStyle.css">
</head>

<body>
    <!-- User Reporting Section -->
    <div class="report-section">
        <h2>Report a User</h2>
        <label for="accusedID">Accused User ID:</label>
        <input type="number" id="accusedID" required>
        <label for="cause">Cause:</label>
        <textarea id="cause" required></textarea>
        <button onclick="reportUser()">Report</button>
        <div id="notification" style="margin-top: 20px;"></div> <!-- Notification Section -->
    </div>


    <script>
        

        // function reportUser() {
        //     const accusedID = document.getElementById('accusedID').value;
        //     const cause = document.getElementById('cause').value;
        //     const notification = document.getElementById('notification');

        //     fetch('/report', {
        //         method: 'POST',
        //         headers: {
        //             'Content-Type': 'application/json'
        //         },
        //         body: JSON.stringify({
        //             adminID: 1,
        //             accusedID: accusedID,
        //             reporterID: 242,
        //             cause: cause
        //         })
        //     })
        //         .then(response => {
        //             // Check if the response is successful
        //             if (!response.ok) {
        //                 // If not, get the error message from the response and throw it
        //                 return response.json().then(err => { throw err; });
        //             }
        //             return response.json();
        //         })
        //         .then(data => {
        //             notification.textContent = data.message;
        //             notification.style.color = 'green'; // Display message in green color
        //         })
        //         .catch(error => {
        //             if (error && error.error === 'Already reported') {
        //                 notification.textContent = 'You have already reported this user.';
        //             } else if (error && error.error === 'Invalid accusedID') {
        //                 notification.textContent = 'The accused user ID is invalid.';
        //             } else {
        //                 notification.textContent = 'Error reporting the user.';
        //             }
        //             notification.style.color = 'red'; // Display error messages in red color
        //         });
        // }

    </script>
    <script src="./app.js"></script>
</body>

</html>