body { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; 
}

#chat-container {
    position: fixed;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    max-width: 800px;
    border: 1px solid rgb(30, 19, 245);
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    height: 80vh;
    /* max-height: 120vh; */
    align-items: flex-end;
}

.message-container {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end;   */
}

header {
    border-bottom: 1px solid rgb(67, 225, 28);
    margin-bottom: 20px;
    padding-bottom: 10px;
}

#room-list, #add-room, #message-input {
    margin-bottom: 5px;
}

button, input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

input[type="text"] {
    width: 80%;
    border: 1px solid #ddd;
}

#message-window {
    border: 1px solid rgb(70, 42, 252);
    height: 410px;
    background-color: #9daff6;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(216, 101, 231, 0.1);
    padding: 0; 
}

#messages {
    overflow-y: auto;
    height: 409px; 
}

/* .chat-header{
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}  */
.chat-footer {
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border: 1px solid #d1d1d1;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

.chat-footer:hover {
    background-color: #d4d4d4;
}

.send_message {
    background-color: #1aabab;
    color: rgb(103, 234, 16);
    padding: 12px 15px; 
    border-radius: 25px;
    max-width: 70%;
    margin: 10px 0;
    align-self: flex-end;
}

.receive_message {
    align-self: flex-start;
    background-color: #efefef;
    color: #333;
    padding: 12px 15px; 
    border-radius: 25px;
    max-width: 70%;
    margin: 10px 0;
}

.sender-name {
    font-size: 1em;
    margin-bottom: 5px;
    font-weight: bold;
}
